.contact{
    background-color: var(--primary-color);
    width: 100%;
    height:auto;
    min-height: 670px;
    padding-top: var(--header-heigth);
    display: flex;
    align-items: center;
    flex-direction: column;


}
.contact__form{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font);
    font-weight: 500;
    color: var(--secondary-color);
    padding-top: 50px;
    align-items: center;
}
.contact__form input{
    width: 90%;
    height: 40px;
    margin: 5px 0px 15px 0px;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(161, 161, 161, 0.24);
    color: var(--secondary-color);
}
.contact__form input:focus{
    border: 1px solid var(--quartarian-color);
    background-color: transparent;
}
.contact__form textarea{
    width: 90%;
    height: 200px;
    resize: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    border:none;
    background-color: rgba(161, 161, 161, 0.24);
    color: var(--secondary-color);
}
.contact__form textarea:focus{
    border: solid 1px var(--quartarian-color);
    background-color: transparent;
}
.form__btn{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 600;
    font-family: var(--secondary-font);
}